In [32]:
import pandas as pd
fname = "../diviner/data/Diviner_R_to_T_8-4-2009.xls"
df = pd.read_excel(fname, 'Bandpasses', header=3, skiprows=4)
df.head()

,0.1,0,0.1.1,0.1,0.1.2,0.2,0.1.3,0.3,0.1.4,0.4,0.1.5,0.5,0.1.6,0.6
0,6.475,0.000000,6.475,0.000000,6.475,0.000000,8.65,0.000000,13.975,0.000000,16.619740,0.000000,16.690000,0.000000
1,6.500,0.000028,6.500,-0.001236,6.500,0.000108,8.70,0.000240,14.000,0.000594,16.673526,0.000115,16.727311,0.000052
2,6.525,-0.000079,6.525,-0.000033,6.525,-0.000013,8.75,0.000022,14.075,-0.000285,16.727311,0.000346,16.781445,0.000148
3,6.550,0.000048,6.550,-0.000031,6.550,0.000020,8.80,0.000402,14.150,0.000968,16.781445,0.000533,16.835930,0.000193
4,6.575,0.000067,6.575,-0.000015,6.575,-0.000031,8.85,-0.000352,14.225,-0.000452,16.835930,0.000631,16.890770,0.000180

In [33]:
df.drop([0,1], inplace=True)

In [34]:
df.head()

,0.1,0,0.1.1,0.1,0.1.2,0.2,0.1.3,0.3,0.1.4,0.4,0.1.5,0.5,0.1.6,0.6
2,6.525,-0.000079,6.525,-0.000033,6.525,-0.000013,8.75,0.000022,14.075,-0.000285,16.727311,0.000346,16.781445,0.000148
3,6.550,0.000048,6.550,-0.000031,6.550,0.000020,8.80,0.000402,14.150,0.000968,16.781445,0.000533,16.835930,0.000193
4,6.575,0.000067,6.575,-0.000015,6.575,-0.000031,8.85,-0.000352,14.225,-0.000452,16.835930,0.000631,16.890770,0.000180
5,6.600,0.000112,6.600,-0.000003,6.600,0.000244,8.90,-0.000083,14.300,-0.000661,16.890770,0.000596,16.945969,0.000209
6,6.625,-0.000020,6.625,-0.000006,6.625,-0.000058,8.95,-0.000147,14.375,-0.001245,16.945969,0.000489,17.001530,0.000273

In [36]:
df.columns = ' '.join(['w{0} ch{0}'.format(i) for i in range(3,10)]).split()

In [37]:
all(df.w3.dropna() == df.w4.dropna())

True

In [6]:
ch3 = df[['w3','ch3']].dropna()

In [7]:
ch3.set_index('w3', drop=True, inplace=True)

In [8]:
ch3.head()

            ch3
w3
6.525 -0.000079
6.550  0.000048
6.575  0.000067
6.600  0.000112
6.625 -0.000020

In [16]:
from diviner import physics
from scipy.signal import convolve

In [10]:
waves = ch3.index

In [11]:
waves = ch3.index.values.astype('float')

In [12]:
rbb = physics.planck_wavelength(300, waves*1e-6)

In [13]:
ch3['rbb']=rbb

In [17]:
ch3['convolved'] = convolve(ch3.ch3, ch3.rbb, mode='same')

In [24]:
%matplotlib widget

In [25]:
ch3.plot()

FigureCanvasNbAgg()

In [19]:
waves = pd.Series(ch3.index)

In [20]:
waves = waves *1e-6

In [21]:
waves.diff()

0               NaN
1      2.500000e-08
2      2.500000e-08
3      2.500000e-08
4      2.500000e-08
5      2.500000e-08
6      2.500000e-08
7      2.500000e-08
8      2.500000e-08
9      2.500000e-08
10     2.500000e-08
11     2.500000e-08
12     2.500000e-08
13     2.500000e-08
14     2.500000e-08
15     2.500000e-08
16     2.500000e-08
17     2.500000e-08
18     2.500000e-08
19     2.500000e-08
20     2.500000e-08
21     2.500000e-08
22     2.500000e-08
23     2.500000e-08
24     2.500000e-08
25     2.500000e-08
26     2.500000e-08
27     2.500000e-08
28     2.500000e-08
29     2.500000e-08
           ...
108    2.500000e-08
109    2.500000e-08
110    2.500000e-08
111    2.500000e-08
112    2.500000e-08
113    2.500000e-08
114    2.500000e-08
115    2.500000e-08
116    2.500000e-08
117    2.500000e-08
118    2.500000e-08
119    2.500000e-08
120    2.500000e-08
121    2.500000e-08
122    2.500000e-08
123    2.500000e-08
124    2.500000e-08
125    2.500000e-08
126    2.500000e-08
127    2.500000e-08
128    2.500000e-08
129    2.500000e-08
130    2.500000e-08
131    2.500000e-08
132    2.500000e-08
133    2.500000e-08
134    2.500000e-08
135    2.500000e-08
136    2.500000e-08
137    5.900750e-04
Name: w3, Length: 138, dtype: float64

In [22]:
ch3['diff'] = waves.diff().values

In [23]:
(ch3['diff'] * ch3.convolved).sum()

1228.0582056457888

# trying out small example

In [21]:
lambdas = array([60, 70, 80]) # micron, don't forget to add it in planck call

In [22]:
rbb = physics.planck_wavelength(300, lambdas*1e-6)

In [57]:
exdf = pd.DataFrame(rbb, index=lambdas, columns=['rbb'])

In [58]:
exdf

              rbb
60  125135.156469
70   72015.721542
80   44262.256363

[3 rows x 1 columns]

In [59]:
f = array([0.8,0.9,0.8])

In [60]:
f_norm = f*1/0.9

In [61]:
f_norm

array([ 0.88888889,  1.        ,  0.88888889])

In [62]:
exdf['f_norm'] = f_norm

In [63]:
exdf

              rbb    f_norm
60  125135.156469  0.888889
70   72015.721542  1.000000
80   44262.256363  0.888889

[3 rows x 2 columns]

reload(physics)

In [64]:
h = physics.h
c = physics.c
kb = physics.kb

In [65]:
T = 273.15+15

In [66]:
physics.planck_modis(T, 3.8809e-6)

1093143.7266620824

In [67]:
exdf['dlambda'] = 10e-6

In [68]:
exdf

              rbb    f_norm  dlambda
60  125135.156469  0.888889  0.00001
70   72015.721542  1.000000  0.00001
80   44262.256363  0.888889  0.00001

[3 rows x 3 columns]

In [69]:
exdf['f'] = f

In [70]:
exdf

              rbb    f_norm  dlambda    f
60  125135.156469  0.888889  0.00001  0.8
70   72015.721542  1.000000  0.00001  0.9
80   44262.256363  0.888889  0.00001  0.8

[3 rows x 4 columns]

In [73]:
exdf['M_l_norm'] = exdf.dlambda*exdf.rbb*exdf.f_norm
exdf['M_l'] = exdf.dlambda*exdf.rbb*exdf['f']

In [74]:
exdf

              rbb    f_norm  dlambda    f  M_l_norm       M_l
60  125135.156469  0.888889  0.00001  0.8  1.112313  1.001081
70   72015.721542  1.000000  0.00001  0.9  0.720157  0.648141
80   44262.256363  0.888889  0.00001  0.8  0.393442  0.354098

[3 rows x 6 columns]

In [75]:
exdf['f_times_dl'] = exdf['f']*exdf.dlambda

In [76]:
exdf['f_norm_times_dl']= exdf.f_norm * exdf.dlambda

In [77]:
exdf

,rbb,f_norm,dlambda,f,M_l_norm,M_l,f_times_dl,f_norm_times_dl
60,125135.156469,0.888889,0.00001,0.8,1.112313,1.001081,0.000008,0.000009
70,72015.721542,1.000000,0.00001,0.9,0.720157,0.648141,0.000009,0.000010
80,44262.256363,0.888889,0.00001,0.8,0.393442,0.354098,0.000008,0.000009

In [79]:
exdf.M_l_norm.sum()/ exdf.f_norm_times_dl.sum()

80132.831861445011

In [80]:
exdf.M_l.sum() / exdf.f_times_dl.sum()

80132.831861445011