In [1]:
import pandas as pd
import diviner as div
import calib as c
import sys
from scipy import ndimage as nd

In [50]:
if sys.platform == 'darwin':
    divcal = c.DivCalib(div.read_div_data("./df_by_2.h5"))
else:
    divcal = c.DivCalib(div.read_div_data('/luna1/maye/2009072000.h5'))

In [51]:
clf()

In [62]:
for i in range(8):
  for ch in [1,9]:
    df = divcal.timed[divcal.timed.c==ch]
    t = df.index.unique()[i]
    print df.clat[t].diff()
    plot(df.det[t],df.clat[t],'.-')
    #df.ix[0].plot('det','clat')

2009-07-20 00:00:00.045000        NaN
2009-07-20 00:00:00.045000   -0.00016
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00016
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000    0.00182
Name: clat
2009-07-20 00:00:00.045000        NaN
2009-07-20 00:00:00.045000    0.00009
2009-07-20 00:00:00.045000   -0.00032
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000    0.00034
2009-07-20 00:00:00.045000   -0.00027
2009-07-20 00:00:00.045000   -0.00027
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000    0.00006
2009-07-20 00:00:00.045000   -0.00035
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00075
2009-07-20 00:00:00.045000    0.00018
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00017
2009-07-20 00:00:00.045000   -0.00157
Name: clat
2009-07-20 00:00:00.173000        NaN
2009-07-20 00:00:00.173000   -0.00016
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00016
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00013
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00013
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00013
2009-07-20 00:00:00.173000   -0.00013
2009-07-20 00:00:00.173000    0.00182
Name: clat
2009-07-20 00:00:00.173000        NaN
2009-07-20 00:00:00.173000    0.00009
2009-07-20 00:00:00.173000   -0.00032
2009-07-20 00:00:00.173000   -0.00013
2009-07-20 00:00:00.173000    0.00034
2009-07-20 00:00:00.173000   -0.00027
2009-07-20 00:00:00.173000   -0.00027
2009-07-20 00:00:00.173000   -0.00013
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000    0.00006
2009-07-20 00:00:00.173000   -0.00035
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00075
2009-07-20 00:00:00.173000    0.00017
2009-07-20 00:00:00.173000   -0.00014
2009-07-20 00:00:00.173000   -0.00015
2009-07-20 00:00:00.173000   -0.00017
2009-07-20 00:00:00.173000   -0.00157
Name: clat
2009-07-20 00:00:00.301000        NaN
2009-07-20 00:00:00.301000   -0.00016
2009-07-20 00:00:00.301000   -0.00015
2009-07-20 00:00:00.301000   -0.00015
2009-07-20 00:00:00.301000   -0.00016
2009-07-20 00:00:00.301000   -0.00016
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00015
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00015
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00013
2009-07-20 00:00:00.301000   -0.00015
2009-07-20 00:00:00.301000   -0.00013
2009-07-20 00:00:00.301000   -0.00013
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00013
2009-07-20 00:00:00.301000    0.00183
Name: clat
2009-07-20 00:00:00.301000        NaN
2009-07-20 00:00:00.301000    0.00009
2009-07-20 00:00:00.301000   -0.00032
2009-07-20 00:00:00.301000   -0.00013
2009-07-20 00:00:00.301000    0.00034
2009-07-20 00:00:00.301000   -0.00027
2009-07-20 00:00:00.301000   -0.00027
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000    0.00006
2009-07-20 00:00:00.301000   -0.00034
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00015
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00076
2009-07-20 00:00:00.301000    0.00018
2009-07-20 00:00:00.301000   -0.00014
2009-07-20 00:00:00.301000   -0.00016
2009-07-20 00:00:00.301000   -0.00016
2009-07-20 00:00:00.301000   -0.00157
Name: clat
2009-07-20 00:00:00.429000        NaN
2009-07-20 00:00:00.429000   -0.00015
2009-07-20 00:00:00.429000   -0.00015
2009-07-20 00:00:00.429000   -0.00016
2009-07-20 00:00:00.429000   -0.00015
2009-07-20 00:00:00.429000   -0.00016
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00015
2009-07-20 00:00:00.429000   -0.00015
2009-07-20 00:00:00.429000   -0.00013
2009-07-20 00:00:00.429000   -0.00015
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00013
2009-07-20 00:00:00.429000   -0.00013
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00013
2009-07-20 00:00:00.429000    0.00183
Name: clat
2009-07-20 00:00:00.429000        NaN
2009-07-20 00:00:00.429000    0.00008
2009-07-20 00:00:00.429000   -0.00032
2009-07-20 00:00:00.429000   -0.00013
2009-07-20 00:00:00.429000    0.00035
2009-07-20 00:00:00.429000   -0.00027
2009-07-20 00:00:00.429000   -0.00027
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000    0.00006
2009-07-20 00:00:00.429000   -0.00034
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00015
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00076
2009-07-20 00:00:00.429000    0.00018
2009-07-20 00:00:00.429000   -0.00014
2009-07-20 00:00:00.429000   -0.00016
2009-07-20 00:00:00.429000   -0.00016
2009-07-20 00:00:00.429000   -0.00158
Name: clat
2009-07-20 00:00:00.557000        NaN
2009-07-20 00:00:00.557000   -0.00015
2009-07-20 00:00:00.557000   -0.00016
2009-07-20 00:00:00.557000   -0.00015
2009-07-20 00:00:00.557000   -0.00015
2009-07-20 00:00:00.557000   -0.00016
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00015
2009-07-20 00:00:00.557000   -0.00015
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00015
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00013
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00012
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00013
2009-07-20 00:00:00.557000    0.00183
Name: clat
2009-07-20 00:00:00.557000        NaN
2009-07-20 00:00:00.557000    0.00008
2009-07-20 00:00:00.557000   -0.00032
2009-07-20 00:00:00.557000   -0.00013
2009-07-20 00:00:00.557000    0.00035
2009-07-20 00:00:00.557000   -0.00028
2009-07-20 00:00:00.557000   -0.00026
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000    0.00006
2009-07-20 00:00:00.557000   -0.00034
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00016
2009-07-20 00:00:00.557000   -0.00013
2009-07-20 00:00:00.557000   -0.00076
2009-07-20 00:00:00.557000    0.00018
2009-07-20 00:00:00.557000   -0.00014
2009-07-20 00:00:00.557000   -0.00016
2009-07-20 00:00:00.557000   -0.00016
2009-07-20 00:00:00.557000   -0.00158
Name: clat
2009-07-20 00:00:00.685000        NaN
2009-07-20 00:00:00.685000   -0.00016
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00016
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00013
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00013
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00013
2009-07-20 00:00:00.685000   -0.00013
2009-07-20 00:00:00.685000    0.00182
Name: clat
2009-07-20 00:00:00.685000        NaN
2009-07-20 00:00:00.685000    0.00009
2009-07-20 00:00:00.685000   -0.00032
2009-07-20 00:00:00.685000   -0.00013
2009-07-20 00:00:00.685000    0.00034
2009-07-20 00:00:00.685000   -0.00027
2009-07-20 00:00:00.685000   -0.00027
2009-07-20 00:00:00.685000   -0.00013
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000    0.00006
2009-07-20 00:00:00.685000   -0.00035
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00075
2009-07-20 00:00:00.685000    0.00017
2009-07-20 00:00:00.685000   -0.00014
2009-07-20 00:00:00.685000   -0.00015
2009-07-20 00:00:00.685000   -0.00017
2009-07-20 00:00:00.685000   -0.00157
Name: clat
2009-07-20 00:00:00.813000        NaN
2009-07-20 00:00:00.813000   -0.00016
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00016
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00013
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00013
2009-07-20 00:00:00.813000   -0.00013
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00013
2009-07-20 00:00:00.813000    0.00183
Name: clat
2009-07-20 00:00:00.813000        NaN
2009-07-20 00:00:00.813000    0.00009
2009-07-20 00:00:00.813000   -0.00032
2009-07-20 00:00:00.813000   -0.00013
2009-07-20 00:00:00.813000    0.00034
2009-07-20 00:00:00.813000   -0.00027
2009-07-20 00:00:00.813000   -0.00027
2009-07-20 00:00:00.813000   -0.00013
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000    0.00006
2009-07-20 00:00:00.813000   -0.00034
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00014
2009-07-20 00:00:00.813000   -0.00075
2009-07-20 00:00:00.813000    0.00018
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00015
2009-07-20 00:00:00.813000   -0.00017
2009-07-20 00:00:00.813000   -0.00157
Name: clat
2009-07-20 00:00:00.941000        NaN
2009-07-20 00:00:00.941000   -0.00016
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00016
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00013
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00013
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00013
2009-07-20 00:00:00.941000   -0.00013
2009-07-20 00:00:00.941000    0.00182
Name: clat
2009-07-20 00:00:00.941000        NaN
2009-07-20 00:00:00.941000    0.00009
2009-07-20 00:00:00.941000   -0.00032
2009-07-20 00:00:00.941000   -0.00013
2009-07-20 00:00:00.941000    0.00034
2009-07-20 00:00:00.941000   -0.00027
2009-07-20 00:00:00.941000   -0.00027
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00013
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000    0.00007
2009-07-20 00:00:00.941000   -0.00035
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00014
2009-07-20 00:00:00.941000   -0.00075
2009-07-20 00:00:00.941000    0.00018
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00015
2009-07-20 00:00:00.941000   -0.00017
2009-07-20 00:00:00.941000   -0.00157
Name: clat

In [55]:
ylabel('clat for Ch1 and Ch9')
xlabel('Detector no')
title('scalt: 115')

In [66]:

for ch in range(1,10):
    df = divcal.timed[divcal.timed.c==ch]
    t = df.index.unique()[0]
    print ch
    print df.clat[t].diff().values
    plot(df.det[t],df.clat[t],'.-',label='A: '+str(ch))
    #df.ix[0].plot('det','clat')

1
[     nan -0.00016 -0.00015 -0.00015 -0.00016 -0.00015 -0.00015 -0.00014
 -0.00015 -0.00014 -0.00015 -0.00014 -0.00014 -0.00013 -0.00014 -0.00014
 -0.00013 -0.00014 -0.00013 -0.00013  0.00182]
2
[             nan  -1.50000000e-04  -1.50000000e-04  -1.50000000e-04
  -1.40000000e-04  -2.00000000e-05  -2.70000000e-04  -1.50000000e-04
  -1.50000000e-04  -1.30000000e-04  -1.50000000e-04  -1.30000000e-04
  -1.50000000e-04  -1.30000000e-04  -2.80000000e-04  -2.70000000e-04
  -3.40000000e-04  -1.40000000e-04  -1.30000000e-04  -1.40000000e-04
  -1.30000000e-04]
3
[     nan -0.00013 -0.00014 -0.00014 -0.00015 -0.00014 -0.00015 -0.00014
 -0.00014 -0.00014 -0.00015 -0.00013 -0.00013 -0.00015 -0.00014 -0.00027
 -0.00028 -0.00014 -0.00015 -0.00014 -0.00013]
4
[             nan  -1.30000000e-04  -1.40000000e-04  -1.30000000e-04
  -6.00000000e-05  -1.40000000e-04  -8.00000000e-05  -1.30000000e-04
  -1.40000000e-04  -2.70000000e-04  -1.40000000e-04  -3.40000000e-04
  -1.50000000e-04  -1.40000000e-04  -2.70000000e-04  -2.80000000e-04
  -3.30000000e-04  -1.50000000e-04  -1.50000000e-04  -1.40000000e-04
  -1.40000000e-04]
5
[             nan  -1.30000000e-04  -1.20000000e-04  -1.20000000e-04
  -2.70000000e-04  -2.60000000e-04  -4.80000000e-04  -1.20000000e-04
  -1.40000000e-04   6.00000000e-05  -1.50000000e-04   1.00000000e-05
  -1.50000000e-04  -1.30000000e-04   7.00000000e-05  -2.20000000e-04
  -7.00000000e-05  -1.50000000e-04  -1.60000000e-04  -1.50000000e-04
  -1.50000000e-04]
6
[             nan  -1.10000000e-04  -1.20000000e-04  -1.30000000e-04
  -5.00000000e-05  -5.40000000e-04   7.00000000e-05  -1.30000000e-04
  -1.30000000e-04   2.00000000e-04  -2.80000000e-04   0.00000000e+00
  -1.40000000e-04  -1.40000000e-04  -1.30000000e-04  -2.90000000e-04
  -2.70000000e-04  -1.50000000e-04  -1.60000000e-04  -1.50000000e-04
  -1.40000000e-04]
7
[             nan  -1.50000000e-04  -1.50000000e-04  -1.50000000e-04
  -1.01000000e-03   1.90000000e-04  -8.90000000e-04  -1.40000000e-04
  -1.50000000e-04   6.00000000e-05  -1.40000000e-04   0.00000000e+00
  -1.30000000e-04  -1.30000000e-04  -2.00000000e-04  -4.00000000e-04
  -3.30000000e-04  -1.40000000e-04  -1.20000000e-04  -1.30000000e-04
  -1.20000000e-04]
8
[             nan  -1.29000000e-03  -1.20000000e-04  -1.50000000e-04
   3.40000000e-04  -1.50000000e-04   5.40000000e-04  -1.50000000e-04
  -1.40000000e-04  -1.40000000e-04  -1.40000000e-04  -1.40000000e-04
  -1.40000000e-04  -3.40000000e-04  -6.00000000e-05  -5.50000000e-04
  -4.70000000e-04  -1.50000000e-04  -1.40000000e-04  -1.40000000e-04
  -8.20000000e-04]
9
[             nan   9.00000000e-05  -3.20000000e-04  -1.30000000e-04
   3.40000000e-04  -2.70000000e-04  -2.70000000e-04  -1.30000000e-04
  -1.40000000e-04  -1.40000000e-04   6.00000000e-05  -3.50000000e-04
  -1.40000000e-04  -1.50000000e-04  -1.40000000e-04  -7.50000000e-04
   1.80000000e-04  -1.50000000e-04  -1.50000000e-04  -1.70000000e-04
  -1.57000000e-03]

In [61]:
legend(loc='best')

In [4]:
ch3.clat[ch3.index[0]].diff()

2009-07-20 00:00:00.045000        NaN
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00027
2009-07-20 00:00:00.045000   -0.00028
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00013
Name: clat

In [4]:
ch3.clat[ch3.index[0]].diff()

2009-07-20 00:00:00.045000        NaN
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00013
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00027
2009-07-20 00:00:00.045000   -0.00028
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00015
2009-07-20 00:00:00.045000   -0.00014
2009-07-20 00:00:00.045000   -0.00013
Name: clat

In [15]:
clon = df.clon

In [16]:
clat = clat.dropna()

In [17]:
clon = clon.dropna()

In [18]:
clat

0     5.01913
1     5.01897
2     5.01882
3     5.01867
4     5.01851
5     5.01836
6     5.01821
7     5.01807
8     5.01792
9     5.01778
10    5.01763
11    5.01749
12    5.01735
13    5.01722
14    5.01708
...
2599491   -88.69547
2599492   -88.69662
2599493   -88.69775
2599494   -88.69887
2599495   -88.69991
2599496   -88.70104
2599497   -88.70210
2599498   -88.70321
2599499   -88.70419
2599500   -88.70542
2599501   -88.70639
2599502   -88.70734
2599503   -88.70837
2599504   -88.70940
2599505   -88.71082
Name: clat, Length: 2399922

In [46]:
plot(clat,clon)

In [48]:
dfview = df[:189]

In [60]:
vals, indexes = np.unique(dfview.clat,return_index=True)

In [62]:
indexes.sort()

In [73]:
dfview.clat[110:130]

2009-07-20 00:00:00.045000    4.75912
2009-07-20 00:00:00.045000    4.75919
2009-07-20 00:00:00.045000    4.75906
2009-07-20 00:00:00.045000    4.75893
2009-07-20 00:00:00.045000    4.75913
2009-07-20 00:00:00.045000    4.75885
2009-07-20 00:00:00.045000    4.75885
2009-07-20 00:00:00.045000    4.75871
2009-07-20 00:00:00.045000    4.75857
2009-07-20 00:00:00.045000    4.75844
2009-07-20 00:00:00.045000    4.75815
2009-07-20 00:00:00.045000    4.75788
2009-07-20 00:00:00.045000    4.75773
2009-07-20 00:00:00.045000    4.75757
2009-07-20 00:00:00.045000    4.75742
2009-07-20 00:00:00.045000    4.75728
2009-07-20 00:00:00.045000    5.02775
2009-07-20 00:00:00.045000    5.02760
2009-07-20 00:00:00.045000    5.02745
2009-07-20 00:00:00.045000    5.02730
Name: clat

In [92]:
for ch in range(1,10):
    cdf = df[df.c==ch][231:252]
    print cdf.clat.unique().size

21
21
21
21
20
20
20
21
21

In [78]:
ch6 = df[df.c==6]

In [107]:
ch7[:21].plot('det','clat',style='k*')

In [109]:
ch6.clon[210:231].diff()

2009-07-20 00:00:01.324000        NaN
2009-07-20 00:00:01.324000   -0.01144
2009-07-20 00:00:01.324000   -0.01248
2009-07-20 00:00:01.324000   -0.01315
2009-07-20 00:00:01.324000   -0.01178
2009-07-20 00:00:01.324000   -0.01349
2009-07-20 00:00:01.324000   -0.01212
2009-07-20 00:00:01.324000   -0.01279
2009-07-20 00:00:01.324000   -0.01245
2009-07-20 00:00:01.324000   -0.01281
2009-07-20 00:00:01.324000   -0.01346
2009-07-20 00:00:01.324000   -0.01212
2009-07-20 00:00:01.324000   -0.01349
2009-07-20 00:00:01.324000   -0.01178
2009-07-20 00:00:01.324000   -0.01178
2009-07-20 00:00:01.324000   -0.01348
2009-07-20 00:00:01.324000   -0.01145
2009-07-20 00:00:01.324000   -0.01346
2009-07-20 00:00:01.324000   -0.01349
2009-07-20 00:00:01.324000   -0.01214
2009-07-20 00:00:01.324000   -0.01178
Name: clon

In [82]:
ch7 = df[df.c==7]

In [85]:
ch7[['det','clat']][21:42]

                            det     clat
2009-07-20 00:00:00.173000    1  5.02131
2009-07-20 00:00:00.173000    2  5.02116
2009-07-20 00:00:00.173000    3  5.02101
2009-07-20 00:00:00.173000    4  5.02086
2009-07-20 00:00:00.173000    5  5.01985
2009-07-20 00:00:00.173000    6  5.02004
2009-07-20 00:00:00.173000    7  5.01915
2009-07-20 00:00:00.173000    8  5.01901
2009-07-20 00:00:00.173000    9  5.01886
2009-07-20 00:00:00.173000   10  5.01892
2009-07-20 00:00:00.173000   11  5.01878
2009-07-20 00:00:00.173000   12  5.01878
2009-07-20 00:00:00.173000   13  5.01865
2009-07-20 00:00:00.173000   14  5.01852
2009-07-20 00:00:00.173000   15  5.01832
2009-07-20 00:00:00.173000   16  5.01792
2009-07-20 00:00:00.173000   17  5.01759
2009-07-20 00:00:00.173000   18  5.01745
2009-07-20 00:00:00.173000   19  5.01733
2009-07-20 00:00:00.173000   20  5.01720
2009-07-20 00:00:00.173000   21  5.01707

In [110]:
ylabel('Channel 7 clat for 2 consecutive frames')

In [148]:
clf()
for ch in range(1,7):
    cdf = df[df.c==ch]
    plot(cdf[:21].det,cdf[:21].clon,'.-',label='A:Ch '+str(ch))

In [149]:
for ch in range(7,10):
    cdf = df[df.c==ch]
    plot(cdf[:21].det,cdf[:21].clon,'.--',label='B:Ch '+str(ch))

In [150]:
legend(loc='best')

In [122]:
clf()
ch7[:21].plot('det','clat',label='ch7')

TypeError: plot_series() got multiple values for keyword argument 'label'

In [121]:
legend()

In [123]:
pd.__version__

'0.10.0b1'

In [179]:
cols = df.columns
for col in cols:
    size = df[col][:189].unique().size
    if size != 1:
        print col

c
det
vlookx
vlooky
vlookz
radiance
tb
clat
clon
cemis
csunzen
csunazi
cloctime
counts

In [172]:
clf()
for ch in range(1,10):
    cdf = df[df.c==ch]
    print ch
    plot(cdf[:21].csunzen,'*',label='ch '+str(ch))
ax = gca()
ax.set_xlim([-1,22])
grid()

1
2
3
4
5
6
7
8
9

In [169]:
legend(loc='best')

In [173]:
csunzen = df.csunzen[:189]

In [175]:
csunzen.unique().size

186

In [177]:
plot(csunzen,'*')